<!doctype html>
<html lang="en" ng-app="reportResponse">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Report and Response Login</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="http://angular-ui.github.com/bootstrap/ui-bootstrap-tpls-0.12.0.js"></script>

        <!-- Charts -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.1.1/Chart.min.js"></script>
        <script src="http://jtblin.github.io/angular-chart.js/dist/angular-chart.js"></script>

        <link rel="stylesheet" href="css/index.css">

        <script src="js/main.js"></script>
    </head>
    <body ng-controller="login-control">
        <div class="row">
            <div class="col-sm-4 col-md-4 col-lg-4"></div>
            <div class="col-sm-4 col-md-4 col-lg-4">
                <div class="center">
                    <div class="row">
                        <div class="col-sm-2 col-md-2 col-lg-2"></div>
                        <div class="col-sm-8 col-md-8 col-lg-8">
                            <div class="control" >
                                <h3>Login:</h3>
                            </div>
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 col-md-2 col-lg-2"></div>
                        <div class="col-sm-3 col-md-3 col-lg-3">
                            <div class="control" >
                                <label>Username:</label>
                            </div>
                        </div>
                        <div class="col-sm-5 col-md-5 col-lg-5">
                            <div class="control" >
                                <input type="text" ng-model="user"/>
                            </div>
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 col-md-2 col-lg-2"></div>
                        <div class="col-sm-3 col-md-3 col-lg-3">
                            <div class="control" >
                                <label>Password:</label>
                            </div>
                        </div>
                        <div class="col-sm-5 col-md-5 col-lg-5">
                            <div class="control" >
                                <input type="password" ng-model="password"/>
                            </div>
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 col-md-2 col-lg-2"></div>
                        <div class="col-sm-8 col-md-8 col-lg-8">
                            <div class="control" >
                                <input type="button" value="Login" ng-click="login()"/>
                            </div>
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2"></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4"></div>
        </div>
    </body>
</html>
