<!DOCTYPE html>
<html lang="en" ng-app="reportResponse">
    <head>
        <meta charset="UTF-8">
        <title>Report Response</title>

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <!-- Bootstrap library -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="http://angular-ui.github.com/bootstrap/ui-bootstrap-tpls-0.12.0.js"></script>

        <!-- Charts -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-google-chart/0.1.0/ng-google-chart.js"></script>

        <link rel="stylesheet" href="css/main.css">

        <script src="js/main.js"></script>
    </head>
    <body ng-controller="report-control" ng-init="init()">
        <!-- Start Template -->
        <script type="text/ng-template" id="addTask.html">
            <div class="modal-dialog model-md" style="display: block">
                <div class="modal-header">
                    <h2>Add Task:</h2>
                </div>
                <div class="modal-body" ng-init="init()">
                    <div>
                        <label>Task Description:</label><input ng-model="taskDesc"/>
                    </div>
                    <div>
                        <div>
                            <label>Building:</label>
                            <select ng-model="selectedBuild">
                                <option ng-repeat="building in buildings">{{building.BuildingName}}</option>
                            </select>
                        </div>
                        <div>
                            <label>Floor Number:</label>
                            <select ng-model="selectedFloor">
                                <option ng-repeat="floor in floors">{{floor}}</option>
                            </select>
                        </div>
                        <div>
                            <label>Division:</label>
                            <select ng-model="selectedDiv">
                                <option ng-repeat="division in divisions">{{division.DivisionName}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div>
                        <button ng-click="close()">Close</button>
                        <button ng-click="add()">Add Task</button>
                    </div>
                </div>
            </div>
        </script>
        <!-- End Template -->
        <div class="navbar">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
                <li><a data-toggle="tab" href="#issues">New Issues</a></li>
                <li><a data-toggle="tab" href="#charts">Charts</a></li>
            </ul>
        </div>
        <div class="tab-content">
            <div id="home" class="tab-pane fade in active">
                <div class="row">
                    <div class="col-sm-1 col-md-1 col-lg-1"></div>
                    <div class="col-sm-4 col-md-5 col-lg-5">
                        <h3>Current Tasks:</h3>
                        <div>
                            <!--Task list-->
                            <ul class="listItem">
                                <li data-ng-repeat="task in tasks" ng-init="homeCol = {}">
                                    <div>
                                        <div>Date Opened: {{task.TaskDateOpened}}</div>
                                        <div>Description: {{task.TaskDesc}}</div>
                                        <div>Division: {{task.DivisionID}}</div>
                                        <div>Building: {{task.BuildingID}}, Floor: {{task.TaskFloorNumber}}</div>
                                        <div>
                                            <a href="#" ng-click="collapseTaskHome()">Details</a>
                                        </div>
                                        <div ng-show="homeCol.expanded">
                                            <div>Task ID: {{task.TaskID}}</div>
                                            <div>Issue ID: {{task.IssueID}}</div>
                                            <div>Task Location:{{task.TaskLocation}}</div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-1 col-md-1 col-lg-1"></div>
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <h3>Recently Completed Tasks:</h3>
                        <div>
                            <!--Completed task list-->
                            <ul class="listItem">
                                <li data-ng-repeat="closedtask in closedtasks" ng-init="homeClosed = {}">
                                    <div>
                                        <div>Date Closed: {{closedtask.TaskDateClosed}}</div>
                                        <div>Description: {{closedtask.TaskDesc}}</div>
                                        <div>Division: {{closedtask.DivisionID}}</div>
                                        <div>Building: {{closedtask.BuildingID}}, Floor:
                                            {{closedtask.TaskFloorNumber}}
                                        </div>
                                        <div>
                                            <a href="#" ng-click="collapseTaskClosed()">Details</a>
                                        </div>
                                        <div ng-show="homeClosed.expanded">
                                            <div>Task ID: {{closedtask.TaskID}}</div>
                                            <div>Issue ID: {{closedtask.IssueID}}</div>
                                            <div>Task Location:{{closedtask.TaskLocation}}</div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-1 col-md-1 col-lg-1"></div>
                </div>
            </div>
            <div id="issues" class="tab-pane fade">
                <div class="row">
                    <div class="col-sm-1 col-md-1 col-lg-1"></div>
                    <div class="col-sm-4 col-md-5 col-lg-5">
                        <h3>New Issues:</h3>
                        <div>
                            <!--New issues list-->
                            <ul class="listItem">
                                <li data-ng-repeat="issue in issues" ng-init="cols = {}">
                                    <div>
                                        <div>Date Opened: {{issue.IssueDateOpened}}</div>
                                        <div>Issue Description: {{issue.IssueDesc}}</div>
                                        <div>Category ID: {{issue.CategoryID}}</div>
                                        <div>Building ID: {{issue.BuildingID}}, Floor: {{issue.IssueFloorNumber}}</div>
                                        <div>
                                            <a href="#" ng-click="collapseIssue()">Details</a>
                                        </div>
                                        <div ng-show="cols.expanded">
                                            <div>Issue ID: {{issue.IssueID}}</div>
                                            <div>Issue First Name: {{issue.IssueFirstName}}</div>
                                            <div>Issue Phone: {{issue.IssuePhone}}</div>
                                            <div>Issue Email: {{issue.IssueEmail}}</div>
                                            <div>Issue Location: {{issue.IssueLocation}}</div>
                                            <div>
                                                <img src="http://18.219.51.47/get_photos.php?id={{issue.PhotoID}}"/>
                                            </div>
                                        </div>
                                        <input type="button" value="Add Task" ng-click="addTask(issue)">
                                        <input type="button" value="Close Selected Issue" ng-click="closeIssue(issue)">
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-1 col-md-1 col-lg-1"></div>
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <h3>Tasks:</h3>
                        <label>Search:</label>
                        <input type="text">
                        <input type="button" value="Search">
                        <div>
                            <!--Task list-->
                            <ul class="listItem">
                                <li data-ng-repeat="task in tasks" ng-init="taskCol = {}">
                                        <div>
                                            <div>Date Opened: {{task.TaskDateOpened}}</div>
                                            <div>Description: {{task.TaskDesc}}</div>
                                            <div>Division: {{task.DivisionID}}</div>
                                            <div>Building: {{task.BuildingID}}, Floor: {{task.TaskFloorNumber}}</div>
                                            <div>
                                                <a href="#" ng-click="collapseTask()">Details</a>
                                            </div>
                                            <div ng-show="taskCol.expanded">
                                                <div>Task ID: {{task.TaskID}}</div>
                                                <div>Issue ID: {{task.IssueID}}</div>
                                                <div>Task Location:{{task.TaskLocation}}</div>
                                            </div>
                                        </div>
                                    </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-1 col-md-1 col-lg-1"></div>
                </div>
            </div>
            <div id="charts" class="tab-pane fade">
                <div class="row">
                    <div class="col-sm-1 col-md-1 col-lg-1"></div>
                    <div class="col-sm-10 col-md-10 col-lg-10">
                        <h3>Charts:</h3>
                        <div google-chart chart="buildChart" class="chart">

                        </div>
                        <div google-chart chart="catChart" class="chart">

                        </div>
                    </div>
                    <div class="col-sm-1 col-md-1 col-lg-1"></div>
                </div>
            </div>
        </div>
    </body>
</html>

<!--<canvas id="bar" class="chart chart-bar" chart-data="buildData" chart-labels="buildLabels"></canvas>-->
